<!DOCTYPE html>
<html>
  <head>
    <title>卒業要件チェッカー for Coins22</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("卒業要件チェッカー for Coins22", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <a href="">GitHub</a>
        </li>
      </ul>
    </header>
    <% if flash[:alert] %>
      <div class="flash">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
